<div class="container">
  <div class="header">
    <h1 class="title">InstaCast</h1>
    <p class="subtitle">by Nathan Vranicar</p>
  </div>
  <div class="box">
    <form {{action "search" on="submit"}} class="input">
      {{input value=formValues.city placeholder="Where are you?"}}
      <button type="submit" class="search">Get Forecast</button>
      {{!-- <button class="reset">Reset</button> --}}
    </form>
    <div class="results">
      {{outlet}}
    </div>
  </div>
</div>
